
/*
I know :D its super messy CSS
I just used MY template for CSS for this and added on the text, button etc styles 
github.com/ttheholyone
*/

/******************************************************************************
HolyClicker
******************************************************************************/

/* Our default values set as CSS variables */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
    --color-text-main: #342;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
}

/* Basic page style resets */

.preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* Import fonts */

@font-face {
    font-family: 'Varela Round', sans-serif;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}

::-moz-selection {
    color: red;
    background-color: transparent;
}

::selection {
    color: red;
    background-color: transparent;
}

/* Navigation grid */

.footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-style: none;
}

.footer a:hover {
    background: var(--color-primary);
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
}

.divider {
    padding: 0 1rem;
}

body {
    background: linear-gradient(-45deg, #97D6E7, #2870A0, #625DD1, #05042E);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
    overflow: hidden;
	-moz-transform: scale(0.75, 0.75);
    zoom: 0.75;
    zoom: 75%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Page structure */

.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
}

.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: white;
    background: purple;
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#space {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: white;
    background: rgb(232, 174, 255);
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#nums {
    text-align: center;
    font-size: 35px;
    color: white;
    background: mediumpurple;
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#upgradeLvl {
    text-align: center;
    font-size: 30px;
    color: white;
    background: #625DD1;
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#clicks {
    text-align: center;
    font-size: 35px;
    color: white;
    background: cadetblue;
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#muls {
    text-align: center;
    font-size: 35px;
    color: white;
    background: rgb(112, 174, 255);
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 389px;
    height: 60px;
}

#upgrades {
    text-align: center;
    font-size: 30px;
    color: white;
    background: rgb(51, 48, 226);
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 400px;
    height: 325px;
}

.instructions {
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 105%;
    margin: 0;
}

.instructionsub {
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 105%;
    margin: 0;
}

.instructionsubsub {
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 105%;
}

.cheaterbutton {
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgb(112, 174, 255);
    border-color: #05042E;
    border: 5px solid;
    border-radius: 10px;
    font-family: fantasy;
    width: 200px;
    height: 50px;
}
.cheaterbutton:hover {
	background: rgb(54, 127, 223);
	cursor:pointer;
}
.cheaterbutton:active {
	cursor:pointer;
	background: rgb(6, 50, 107)
}


/*copyright*/

.copyright {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
}

.stats {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info {
    position: absolute;
    top: 10px;
    left: 15px;
}

/*cool effects ig*/

p:hover {
    color: transparent;
    transition: 500ms ease;
}

p {
    background: linear-gradient(90deg, red, blue, purple, hotpink);
    background-clip: text;
    -webkit-background-clip: text;
}

.cookie:hover {
	cursor: pointer;
}
.cookie:active {
	margin:auto;text-align:center;
	width:195px;
	height:195px;
  	filter: blur(1px);
	-webkit-filter: blur(1px);
}
